* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-container {
  align-items: center;
  background-color: #323333;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  color: rgb(238, 238, 238);
}

h3 {
  color: rgb(194, 194, 194);
}

h3:hover {
  color: #0fa36b;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.text-section {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
}

p {
  color: #232525;
  font-size: 1.5rem;
  text-align: center;
  width: 90%;
}